package views

import "github.com/GoncalojmRosa/scrapper/types"

templ Home(ProductList []types.Product) {
  @Page(true){
    <div class="bg-red-500">
      <h1>Home</h1>
      <p>Welcome to the home page</p>
    </div>
  }
}
