package views

import "github.com/GoncalojmRosa/scrapper/types"
import "github.com/GoncalojmRosa/scrapper/components"

templ Products(products []types.Product) {
  @Page(){
    <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
      @components.ProductList(products, "public/continente.png")
    </div>
  }
}