package views

import "github.com/GoncalojmRosa/scrapper/types"
import "github.com/GoncalojmRosa/scrapper/components"

templ Products(products []types.Product) {
  @Page(){
    @components.ProductList(products, "public/continente.png")
  }
}